*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
    background-color: bisque;
}
button , input{
    border: none;
    outline: none;
    padding: 20px;
    border-radius: 10px;
    font-size: 19px;
    background-color: white;
    color: black;
    cursor: pointer;
    margin-bottom: 1rem;
}
.input{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
p{
    font-size: 29px;
    font-weight: 700;
}
